<nav class="navbar">

    <noscript>
        <div style="background-color:#af1717; color: white; text-align:center; ">
            <strong>JavaScript is currently disabled</strong>
        </div>
    </noscript>

    <div class="container">
        <div class="flex">
            <div>
                <a class="brand" href="{{ relURL "/" }}">
                    {{ if .Site.Params.titleEmoji }}
                    <span class="emoji">
                        {{ .Site.Params.titleEmoji }}
                    </span>
                    {{ end }}
                    <strong>
                    {{ .Site.Title }}
                    </strong>
                    </a>
            </div>
            <div class="flex">
                {{ range .Site.Menus.header }}
                <a href="{{ .URL | relURL }}"{{ if eq .URL $.RelPermalink }} aria-current="page"{{ end }}>{{ .Pre }}{{ .Name }}{{ .Post }}</a>
                {{ end }}
                <button id="dark-mode-button"></button>
            </div>
            </div>
    </div>
</nav>