<head>
    {{/* See additional comments in any partial included below */}}

    {{- if and .Site.Params.enableGoogleAnalytics (eq hugo.Environment "production") }}
        {{ partial "head_inc/third_party/google-analytics.html" . }}
    {{- end }}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="dark">

    {{ partial "head_inc/title.html" . }}

    {{- if .Site.Params.enableFavicons }}
        {{ partial "head_inc/favicons.html" . }}
    {{- end }}

    {{- if .Site.Params.enableFeeds }}
        {{ partial "head_inc/feeds.html" . }}
    {{- end }}

    {{ partial "head_inc/styling.html" . }}

</head>